.Card-vertical {
  width: 23rem;
  height: 38rem;
  border-radius: var(--b-l);
  position: relative;
}

.Card-vertical:hover > .Card-vertical--shadow {
  background-color: var(--c-black-primary-op);
}

.Card-vertical:hover > .Card-vertical--info {
  color: var(--c-white-primary);
}

.Card-vertical--shadow {
  width: 100%;
  height: 100%;
  border-radius: var(--b-l);
  transition: .3s ease;
  position: absolute;
}

.Card-vertical--image {
  width: 100%;
  height: 100%;
  border-radius: var(--b-l);
}

.Card-vertical--info {
  color: transparent;
  font-weight: bold;
  transition: .3s ease;
  position: absolute;
  left: var(--s-m);
  bottom: var(--s-m);
}