.Test {
  height: 100vh;
}

.Test__info-icon-bar {
  padding: var(--s-s);
  border-radius: var(--b-m);
  background-color: var(--c-gray-primary);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}