@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

:root {
  /* Fonts */
  --f-xs: 1.2rem;
  --f-s: 1.6rem;
  --f-m: 2.4rem;
  --f-l: 3.2rem;
  --f-xl: 4.8rem;

  /* Colors */
  --c-black-primary: #0C0C0C;
  --c-black-primary-op: #0c0c0c93;
  --c-black-secondary: #181818;
  --c-white-primary: #FFFFFF;
  --c-gray-primary: #232323;
  --c-gray-secondary: #2F2F2F;
  --c-orange-primary: #CF7C00;
  --c-red-primary: #FC2805;

  /* Spaces */
  --s-xs: 1.2rem;
  --s-s: 1.6rem;
  --s-m: 2.4rem;
  --s-l: 3.2rem;
  --s-xl: 4.8rem;

  /* Border radius */
  --b-xs: 1.2rem;
  --b-s: 1.6rem;
  --b-m: 2.4rem;
  --b-l: 3.2rem;
  --b-xl: 4.8rem;


  --side-padding: 20px;
  --border-radius: 34px;
  --accent-br: 15px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Space Grotesk', sans-serif;
}

p {
  font-size: var(--f-s);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--c-white-primary);
}

input {
  background-color: transparent;
  border: none;
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

input[type="file"] {
  display: none;
}

textarea {
  outline: none;
  resize: none;
}

/* Styles class */
.title {
  font-size: var(--f-l);
}

.subtitle {
  font-size: var(--b-m);
}

.btn-primary {
  padding: 1rem 1.6rem;
  border-radius: var(--b-l);
  background-color: var(--c-orange-primary);
  font-size: var(--f-s);
  font-weight: bold;
  text-align: center;
  color: var(--c-white-primary);
  cursor: pointer;
  border: none;
}

.btn-secondary,
.btn-secondary-red {
  padding: 1rem 1.6rem;
  border: 2px solid var(--c-orange-primary);
  border-radius: var(--b-l);
  background-color: transparent;
  font-size: var(--f-s);
  font-weight: bold;
  text-align: center;
  color: var(--c-orange-primary);
  cursor: pointer;
}

.btn-secondary-red {
  border-color: var(--c-red-primary);
  color: var(--c-red-primary);
}

.input-primary {
  width: 100%;
  padding: 1rem 1.6rem;
  background-color: var(--c-gray-primary);
  border-radius: var(--b-l);
}

.input-primary input {
  width: 100%;
  font-size: var(--f-s);
  color: var(--c-white-primary);
}

.input-primary textarea {
  width: 100%;
  font-size: var(--f-s);
  color: var(--c-white-primary);
  background-color: transparent;
  border: none;
}

.input-primary select {
  width: 100%;
  height: 100%;
  outline: none;
  background-color: var(--c-gray-primary);
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: var(--f-s);
  color: var(--c-white-primary);
}

.input-primary select option {
  font-size: var(--f-s);
}

.section-scroll {
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
}