.Card-horizontal {
  width: 38rem;
  height: 23rem;
  border-radius: var(--b-l);
  position: relative;
}

.Card-horizontal--shadow {
  width: 100%;
  height: 100%;
  background-color: var(--c-black-primary-op);
  /* backdrop-filter: blur(1px); */
  position: absolute;
  border-radius: var(--b-l);
}

.Card-horizontal--image {
  width: 100%;
  height: 100%;
  border-radius: var(--b-l);
}

.Card-horizontal--info {
  font-weight: bold;
  position: absolute;
  left: var(--s-m);
  bottom: var(--s-m);
}