.Create-properties {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-gap: var(--s-m);
}

.Create-properties__inputs {
  display: flex;
  flex-direction: column;
  gap: var(--s-s);
}

.Create-properties__inputs--district {
  position: relative;
  display: flex;
  align-items: center;
}

.Create-properties__inputs--district img {
  width: 1.8rem;
  position: absolute;
  right: 1.6rem;
  color: #fff;
  transform: rotate(180deg);
  transition: .3s ease;
}

.Create-properties__inputs--address {
  display: grid;
  grid-template-columns: 75% auto;
  grid-gap: var(--s-xs);
}

.Create-properties__sizes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: var(--s-s);
}

.Create-properties__comfortable {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--s-s);
}

.Create-properties__comfortable > .Icon-info {
  min-width: 12rem;
}

.Create-properties__image-upload {
  width: 8rem;
  height: 8rem;
  background-color: var(--c-gray-primary);
  border-radius: var(--b-m);
  display: flex;
  align-items: center;
  justify-content: center;
}

.Create-properties__image-upload > label {
  width: 50%;
}

.Create-properties__image-upload img {
  width: 100%;
}