.Icon-info {
  width: 5rem;
  display: flex;
}

.Icon-info img {
  width: 100%;
  height: 5rem;
  padding: .8rem;
  border-top-left-radius: var(--b-xs);
  border-bottom-left-radius: var(--b-xs);
  background-color: var(--c-gray-secondary);
  z-index: 10;
}

.Icon-info input {
  width: 5rem;
  height: 5rem;
  border: 2px solid var(--c-gray-secondary);
  border-left: none;
  font-size: var(--f-s);
  color: var(--c-white-primary);
  text-align: center;
}