.Create-account {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-gap: var(--s-m);
}

.Create-account__inputs {
  display: grid;
  gap: var(--s-xs);
}

.Create-account__actions {
  display: grid;
  grid-gap: var(--s-xs);
}

.Create-account__actions > button {
  width: 100%;
}

.Create-account--has-account-align {
  width: 100%;
  display: flex;
  justify-content: center;
}

.Create-account--has-account {
  font-size: var(--f-xs);
  text-align: center;
  border-bottom: 1px solid var(--c-white-primary);
  transition: .3s ease;
}

.Create-account--has-account:hover {
  color: var(--c-orange-primary);
  border-color: var(--c-orange-primary);
}